{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h1>Lista de Produtos</h1>
    <a href="{% url 'criar_produtos' %}" class="btn btn-success">Novo Produto</a>
</div>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Validade</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for p in produtos %}
        <tr>
            <td>{{ p.nome }}</td>
            <td>{{ p.preco }}</td>
            <td>{{ p.descricao }}</td>
            <td>{{ p.quantidade }}</td>
            <td>{{ p.validade|date:"d/m/Y" }}</td>
            <td class="text-center">
                <a href="{% url 'editar_produtos' p.pk %}" class="btn">Editar</a>
                <a href="{% url 'excluir_produtos' p.pk %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">Nenhum produto cadastrado no sistema.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}