{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h1>Lista de Fornecedores</h1>
    <a href="{% url 'criar_fornecedores' %}" class="btn btn-success">Novo Fornecedor</a>
</div>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for f in fornecedores %}
        <tr>
            <td>{{ f.nome }}</td>
            <td>{{ f.email }}</td>
            <td>{{ f.telefone }}</td>
            <td class="text-center">
                <a href="{% url 'editar_fornecedores' f.pk %}" class="btn">Editar</a>
                <a href="{% url 'excluir_fornecedores' f.pk %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">Nenhum fornecedor cadastrado no sistema.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}