{% extends 'base.html' %}

{% block content %}
<div class="d-flex">
    <h1>Lista de Clientes</h1>
    <a href="{% url 'criar-clientes' %}" class="btn btn-success">Novo Cliente</a>
</div>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Data</th>
            <th>Telefone</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for c in clientes %}
        <tr>
            <td>{{ c.nome }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.data }}</td>
            <td>{{ c.telefone }}</td>
            <td class="text-center">
                <a href="{% url 'editar-clientes' c.pk %}" class="btn">Editar</a>
                <a href="{% url 'excluir-clientes' c.pk %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">Nenhum cliente cadastrado no sistema.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}